* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-200: #666ca3;
  --blue-400: #13183f;
  --gray-100: #83869a;
  --pink-200: #ffa7c3;
  --pink-400: #f74780;
  --white: #ffffff;
  --primary-gradient-start: #ff6f48;
  --primary-gradient-end: #f02aa6;
  --secondary-gradient-start: #4851ff;
  --secondary-gradient-end: #f02aa6;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background: linear-gradient(to bottom, var(--white), #f0f2ff);
}

h1,
h2,
h3 {
  font-weight: 800;
}

h1 {
  font-size: 2.5rem;
  color: var(--blue-400);
  margin-bottom: 1.625rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 32px;
  color: var(--white);
}

h3 {
  color: var(--blue-400);
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.hero-text,
.info-card__text {
  color: var(--gray-100);
  line-height: 26px;
  font-weight: 500;
}

header {
  padding: 1rem 1rem 0rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  margin-bottom: 2.375rem;
}

.logo {
  width: 89px;
}

button {
  font-size: 1rem;
  line-height: 28px;
  color: var(--white);
  border: none;
  border-radius: 28px;
  font-weight: 700;
  font-family: "Plus Jakarta Sans", sans-serif;
  transition: all 0.15s ease-in;
}

button:hover {
  cursor: pointer;
}

.btn--nav {
  background-color: var(--blue-400);
  padding: 0.5625rem 1.5rem 0.6875rem;
}

.btn--nav:hover {
  background-color: var(--blue-200);
}

main {
  padding: 0rem 1rem 0rem;
}

.hero-content {
  margin-bottom: 1.5rem;
}

.hero-text {
  margin-bottom: 1.5rem;
}

.btn--hero {
  background: linear-gradient(
    var(--primary-gradient-start),
    var(--primary-gradient-end)
  );
  padding: 0.9375rem 2.375rem;
}

.btn--hero:hover {
  opacity: 75%;
}

.hero-img-container {
  text-align: center;
}

.hero-mobile {
  width: 100%;
  max-width: 500px;
}

.hero-tablet-img {
  display: none;
}

.hero-desktop-img {
  display: none;
}

.grid {
  max-width: 550px;
  margin: 0 auto;
}

.banner {
  background: linear-gradient(
    var(--primary-gradient-start),
    var(--primary-gradient-end)
  );
  padding: 1.5rem 1.75rem 2rem;
  border-radius: 10px;
  margin-bottom: 2.5rem;
}

.info-card {
  background-color: var(--white);
  position: relative;
  border-radius: 10px;
  padding: 3.5rem 1.75rem 2rem;
  margin-bottom: 2.5rem;
  box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.0442);
}

.info-card__icon {
  position: absolute;
  top: -25px;
}

.info-card__text {
  margin-bottom: 1.5rem;
}

.info-card__link {
  color: var(--pink-400);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 28px;
}

footer {
  position: relative;
  background-color: var(--blue-400);
  padding: 2.25rem 1rem;
}

.btn--footer {
  background: linear-gradient(
    var(--secondary-gradient-start),
    var(--secondary-gradient-end)
  );
  padding: 0.5625rem 1.5rem;
  position: relative;
}

.btn--footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 28px;
  background: var(--white);
  opacity: 0;
  transition: opacity ease 0.5s;
}

.btn--footer:hover::before {
  opacity: 25%;
}

.attribution {
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-size: 0.75rem;
  color: var(--white);
  width: 100%;
  text-align: center;
}

.attribution a {
  color: var(--pink-400);
}

@media (min-width: 48em) {
  header {
    padding: 1.5rem 2.5rem 0rem;
  }

  .container {
    overflow: hidden;
  }

  main {
    padding: 0rem 2.5rem 2.5rem;
  }

  .hero-section {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 5rem 0rem 12rem;
  }

  .hero-content {
    padding-right: 15px;
    padding-top: 1rem;
  }

  .hero-mobile {
    display: none;
  }

  .hero-img-container {
    position: relative;
  }
  .hero-tablet-img {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    transform: scale(1) translate(49%, -36%);
    z-index: -1;
  }

  .grid {
    max-width: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
  }

  .banner {
    padding-top: 3.5rem;
  }

  footer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .attribution {
    font-size: 1rem;
  }
}

@media (min-width: 75em) {
  header,
  main,
  footer {
    padding-left: 165px;
    padding-right: 165px;
  }

  .logo {
    width: 111px;
  }

  main {
    padding-bottom: 6.25rem;
  }

  h1 {
    font-size: 3.5rem;
    max-width: 457px;
  }

  .hero-text {
    max-width: 457px;
  }

  .banner h2 {
    font-size: 2rem;
    line-height: 40px;
  }

  .hero-text,
  button,
  .info-card__text,
  .info-card__link {
    font-size: 1.125rem;
    line-height: 28px;
  }

  .btn--nav {
    padding: 0.875rem 2rem;
  }

  .hero-section {
    padding-bottom: 14rem;
  }

  .hero-content {
    padding-top: 4rem;
    padding-right: 0px;
  }

  .hero-tablet-img {
    display: none;
  }

  .hero-desktop-img {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    transform: scale(1) translate(49%, -36%);
    z-index: -1;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 56px;
    column-gap: 30px;
  }

  .info-card {
    padding: 4rem 2rem 2.5rem;
  }
}
